@import "@/styles/colours.scss";
@import "@/styles/mixins.scss";

.menuItem {
  overflow: hidden;
  z-index: 1;
  padding: 16px 20px;
  border-radius: 8px;
  transition: background-color 0.3s;

  &.externalLink {
    background-color: transparent;
    &:hover {
      background-color: $coherent-grey;
    }
  }

  &:hover {
    background-color: $coherent-grey;

    .menuItemName {
      color: $text;
    }
  }

  .menuItemName {
    display: inline-block;
  }

  .chevron {
    transition: transform 0.4s;
    margin-left: 12px;
  }

  cursor: pointer;

  &:hover {
    .subMenu {
      opacity: 1;
      pointer-events: all;
      transform: translateZ(0);
      padding-top: 26px;
      margin-top: 16px;
    }
  }

  .subMenu {
    transition: opacity 0.3s;
    background-color: $white;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    padding: 24px 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    min-width: 288px;
    margin: 16px 0 0 -25px;

    .subMenuSection {
      display: inline-block;
      min-width: 285px;
      vertical-align: top;
    }

    .subMenuName {
      @include body;
      margin-left: 24px;
      max-width: 237px;
      color: $text;
      padding-bottom: 8px;
      border-bottom: 1px solid $text;
      margin-bottom: 16px;
      cursor: initial;
    }

    .linksContainer {
      max-width: 285px;
    }

    .link {
      padding: 16px 24px;
      width: 100%;
      display: flex;
      align-items: center;


      &:hover {
        background-color: $coherent-grey;
        border-radius: 8px;
        color: $text;
      }
    }
  }
}