@import "../../../styles/themes.module.scss";
@import '../../../styles/mixins';
@import '../../../styles/colours.scss';
@import '../../../styles/breakpoints.scss';



.hero {
  padding: 40px 0 0;

  @media (min-width:$bp-max-content-width) {
    padding: 160px 0 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: $bp-max-content-width;
    margin: 72px auto 0 auto;

    @media (min-width:$bp-tablet) {
      justify-content: space-between;
      flex-direction: row;
      max-width: $bp-max-content-width;
    }
  }

  .taglineIconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  .taglineWrapper {
    margin-bottom: 8px
  }

  a {
    .tagline {
      text-decoration: underline;
      text-underline-offset: 0.2em;

      &:hover {
        color: $hover-link-blue;
      }
    }

  }

  .tagline {
    @include bodySmall;
    font-weight: 300;

  }

  .title {
    @include h4;
    margin-bottom: 24px;

    @media (min-width:$bp-tablet) {
      @include h2;
      font-weight: 500;
      max-width: 816px;
    }

    @media (min-width:$bp-desktop) {
      @include h1;
      font-weight: 500;
      max-width: 816px;
    }
  }

  .richText {
    @include body;
    font-weight: 300;
    max-width: 576px;
    margin-bottom: 24px;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 76px;

    @media (min-width:$bp-large-phone) {
      max-width: fit-content;
    }

    @media (min-width:$bp-tablet) {
      flex-direction: row;
      margin-bottom: 24px;
      margin: 48px 0 24px 0;
    }

    button {
      width: 100%;
    }
  }

  .Thinhero {
    position: relative;
    margin: 0 auto;

    .textContent {
      margin: 0 24px 32px;

      @media (min-width:$bp-tablet) {
        margin: 0 0 56px 64px;
        max-width: 500px;
      }

      @media (min-width:$bp-desktop) {
        margin: 0 0 56px 65px;
        max-width: 100%;
      }

      @media (min-width:$bp-max-header-width) {
        margin: 0 0 56px 0;
      }
    }

    .title {
      @include h3;

      @media (min-width:$bp-tablet) {
        @include h2;
      }
    }

    .logo {
      height: 100%;
      display: flex;
      justify-content: flex-end;


      @media (min-width:$bp-tablet) {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 190px;
      }

      img {
        max-width: fit-content;
        max-height: 78px;

        @media (min-width:$bp-tablet) {
          width: 100%;
          height: 100%;
          max-height: 100%;
          max-width: fit-content;
        }
      }
    }
  }

  .Imagehero {
    padding: 0 24px 40px 24px;

    @media (min-width:$bp-desktop) {
      padding: 0 24px 80px 24px;
    }

    @media (min-width:$bp-max-content-width) {
      padding-bottom: 80px;
    }

    .wrapper {
      @media (min-width:$bp-tablet) {
        gap: 30px;
      }
    }

    .textContent {
      max-width: 536px;

      @media (min-width:$bp-desktop) {
        margin-top: 33px;
      }
    }

    .imageWrapper {
      border-radius: 16px;
      margin-top: 40px;
      max-width: 293px;
      height: auto;

      &.animation {
        @include animation($slideUpAnimation);
      }

      @media (min-width:$bp-tablet) {
        margin-top: 0;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .image {
      border-radius: 16px;
      width: 100%;
      height: auto;
      max-width: 457px;

      @media (min-width:$bp-desktop) {
        min-width: 457px;
      }
    }
  }

}