$bp-small-phone: 374px;
$bp-large-phone: 414px;
$bp-small-tablet:628px;
$bp-tablet: 768px;
$bp-desktop: 940px;
$bp-max-site-width: 1920px;
$bp-max-content-width: 1170px;
$bp-min-header-width: 1180px;
$bp-max-header-width: 1360px;