$ice: #F0F5FA;
$midnight: #1F2934;
$fog: #D8DEE5;
$cloud: #8995A3;
$white: #FFFFFF;
$black: #000000;
$coherent-black: #14110E;
$default-grey: #F5F5F4;
$text: #222222;
$dark-grey: #2F2E2D;
$coherent-bg-grey: #F8F9FA;
$coherent-grey: #F5F5F7;
$coherent-blue: #246BE9;
$canada-light: #FDE7E7;
$africa-light: #FBF6EE;
$history-light: #DEF2EF;
$south-asia-light: #F9E6D2;
$body-text-grey: #474747;
$form-field-borders: #DDD;
$accordion-border: #d8d8d8;
$coherent-orange: #F96A3E;
$coherent-light-orange: #FFEFEB;
$tag-grey: #2F2E2D;
$tag-border: #E6E6E6;
$mindscape-light: #F1F5F9;
$policy-light: #FFF4C6;
$history-primary:#BDD5D2;
$hover-link-blue: #0F4098;
$mindscape-primary: #2020B2;
$south-asia-primary: #E7915C;
$africa-primary: #B69C86;
$canada-primary: #CB2F2F;
$policy-primary: #FFC300;
$history-primary: #BDD5D2;
$latin-america-light:#cbfaea;
$latin-america-primary: #0EBE82;
$oceania-primary: #42ADF8;  
$oceania-light: #E3F3FE;
$applied-science-primary: #818991;
$applied-science-light: #ECEDEE;



