* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}
html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: white;
  font-size: 1.6rem;
  font-size: 16px;
}

body.no-scroll {
  overflow: hidden;
  height: 100svh;
}

button,
input[type="submit"],
input[type="reset"],
input[type="search"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type="search"] {
  cursor: inherit;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
