@import "../../../styles/mixins";
@import "../../../styles/colours";
@import "../../../styles/breakpoints";

.richText {
  p:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: $bp-desktop) {
      margin-bottom: 46px;
    }
  }

  p {
    color: $body-text-grey;
  }

  strong {
    font-weight: 600;
  }

  a {
    text-decoration: underline;
  }
  ul {
    list-style-type: none;

    li {
      position: relative;
      padding-left: 24px;

      @media (min-width: $bp-desktop) {
        margin-bottom: 8px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: url("../../../../public/tick-coherent.svg") no-repeat;
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p {
      @include body;
      font-weight: 400;
      margin: 0;
      color: $body-text-grey;
    }
  }

  ol {
    padding-left: 23px;
    @media (min-width: $bp-tablet){
      padding-left: 21px;
    }
    li {
      position: relative;
      padding-left: 0;

      @media (min-width: $bp-desktop) {
        margin-bottom: 8px;
      }
    }
    p {
      @include body;
      font-weight: 400;
      margin: 0;
      color: $body-text-grey;
    }
  }
  p {
    @include body;
    font-weight: 400;
    margin: 0;
    color: $body-text-grey;
  }
}
