@import '@/styles/mixins.scss';
@import '@/styles/breakpoints.scss';

.newsletters {
  padding: 64px 24px 80px 24px;
  @include maxContentWidth;
  max-width: $bp-max-content-width;

  @media (min-width: $bp-max-content-width) {
    padding: 88px 0 112px 0;
  }

  .dropdownContainer {
    @media (min-width: $bp-desktop) {
      display: none;
    }
  }

  .tagContainer {
    display: none;

    @media (min-width: $bp-desktop) {
      display: block;
    }
  }

  .tagHeading {
    @include bodySmall;
    padding: 64px 0 16px 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    gap: 16px;
  }
}