@import '../../../../styles/colours.scss';
@import '../../../../styles/mixins.scss';
@import "../../../../styles/variables.scss";
@import "../../../../styles/breakpoints.scss";

.accordionItem {
  padding: 24px 0;
  transition-timing-function: ease-out !important;

  &.footer,
  &.header {
    padding: 14px 0;
  }

  &:not(.footer),
  &:not(.header) {
    border-bottom: 1px solid $fog;
  }

  border-bottom: 1px solid $accordion-border;

  .accordionHeader {
    @include h5;
    width: 100%;
    color: $midnight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;

    &.footer {
      color: $white;
    }
  }

  .accordionContent {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    padding-top: 24px;
  }

  .smallHeader {
    font-size: 14px;
    font-size: 1.4rem;
  }

  .chevron {
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }

  .plusMinus {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $coherent-grey;

    &.footer {
      background-color: $dark-grey;

      &:before,
      &:after {
        background-color: $white;
      }
    }

    border-radius: 50%;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      display: block;
      background-color: $dark-grey;
      position: absolute;
      top: 50%;
      left: 12px;
      transition: .35s;
      width: 16px;
      height: 2px;
    }

    &:before {
      transform: translatey(-50%);
    }

    &:after {
      transform: translatey(-50%) rotate(90deg);
    }

  }

  .expanded {

    .chevron {
      transform: rotate(180deg);
    }

    .plusMinus {
      &:before {
        transform: translatey(-50%) rotate(-90deg);
        opacity: 0;
      }

      &:after {
        transform: translatey(-50%) rotate(0);
      }

    }
  }

  &.header {
    padding: 16px 24px;
    border-bottom: none;

    &.expandedItem {
      background-color: $coherent-bg-grey;

      .plusMinus {
        background-color: $white;
      }

    }

    .accordionContent {
      padding-top: 0;
    }
  }

  &.faqs {
    border-radius: 24px;
    border-bottom: none;
    padding: 24px;
    margin-bottom: 34px;
    transition: background-color 2s ease-in-out;


    @media (min-width:$bp-desktop) {
      border-radius: 16px;
      margin: 0 24px 32px 0;
    }

    .chevron {
      transition: transform 1s cubic-bezier(0, 0, 0, 1);
    }

    .accordionHeader {
      @include h6;
      line-height: 22px;
      letter-spacing: -0.3px;
      text-align: left;
      width: 99%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (min-width: $bp-large-phone) {
        align-items: center;
      }

      button {
        max-width: 232px;
      }

    }

    .accordionContent {
      max-height: 0;
      overflow: hidden;
      transition: max-height 2s ease-in-out;

      p {
        @include body;
        color: $body-text-grey;
      }
    }

    &.collapsedItem {
      background-color: $coherent-bg-grey;
    }

    &.expandedItem {
      box-shadow: $drop-shadow;

      .accordionHeader{
        padding-bottom: 24px;
      }

      .accordionContent {
        max-height: 2000px;
        overflow: auto;
      }
    }
  }

  &.footer {
    padding: 16px 24px;
    border-bottom: none;

    &.expandedItem {
      background-color: $body-text-grey;
    }
  }
}