@import '../../../../../styles/breakpoints.scss';

.menuItem {
  margin: 0 12px;
  color: white;
  width: 25%;

  .subMenu {
    padding-top: 16px;

    p {
      @media (min-width: $bp-desktop) {
        padding: 4px 0;
      }

      padding: 8px 0;
      font-size: 14px;
      font-size: 1.4rem;
    }
  }
}