@import '@/styles/colours.scss';
@import '@/styles/mixins.scss';
@import '@/styles/breakpoints.scss';

.collectionTile {
  position: relative;
  max-width: -webkit-fill-available;
  cursor: pointer;
  width: 100%;
  height: 392px;
  overflow: hidden;
  border-radius: 24px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .collectionContainer {
    width: 100%;
    height: 100%;
    padding: 24px;

  }

  .imagesWrapper {
    width: 100%;
    height: 100%;
  }

  .logoContainer {
    position: absolute;
    bottom: 0;
    height: 30%;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 0 24px 24px 24px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: space-between;

    h6 {
      @include h6;
      font-weight: 600;
    }

  }

  .logoCommon {
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    p {
      @include bodySmall;
      font-weight: 400;
    }
  }

  &.carousel {
    overflow: hidden;
    border-radius: 24px;
    width: 100%;

    @media (min-width:$bp-max-site-width) {
      width: 327px;
      max-width: 327px;
    }

    &.firstPosition {
      @media (min-width:$bp-tablet) {
        width: 100%;
        height: 522px;
        max-width: 100%;
        border-radius: 24px;
      }

      @media (min-width: $bp-max-site-width ) {
        width: 561px;
      }

      .logoContainer {
        @media (min-width:$bp-desktop) {
          height: 24%;
        }
      }
    }

  }

  &.filterResults {
    width: 341px;
    height: 392px;
    border-radius: 24px;
  }
}