@import '../../../styles/mixins';

.checkbox {
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-size: 1.4rem;
  }

  input {
    @include formCheckbox;
  }

  span {
    margin-left: 10px;
  }
}